.message {
    opacity: 0;
    transform: translateY(10px);
    transition: all 0.4s ease;
    margin-top: 10px;
    padding: 8px;
    background: #f2f2f2;
    border-radius: 4px;
    font-weight: bold;
}


.message.show {
    opacity: 1;
    transform: translateY(0);
}

.success {
    color: rgb(53, 107, 53);
}

.error {
    color: rgb(204, 76, 76);
}